// Generic Colours
$grey:        #A5A5A5;
$grey2:       #DDDDDD;
$light_grey:  #ECECEC;
$light_grey_2:#F3F3F3;
$super_light_grey:  #f9f9f9;
$medium_grey: #7E7E7E;
$light_beige: #F3F4EB;
$dark_grey:   #4A4A4A;
$darker_grey: #2A2D33;
$dark_red:    #AC3D12;
$red:         #ee5f5b;
$green:       #5cb85c;
$yellow:      #f0ad4e;
$blue:        #03A9F4;
$white:       #fff;
$black:       #333;
$off_white:   #fcfcfc;

$orange_1: #E16229;
$orange_2: #E98537;
$orange_3: #F5BD3E;
$orange_4: #FBDBA7;

$purple_1: #6A275D;
$purple_2: #87347B;
$purple_3: #BD4F88;
$purple_4: #D2BDCC;

$blue_1: #2B487C;
$blue_2: #00609F;
$blue_3: #1D92C4;
$blue_4: #B7CBDE;

$turquoise_1: #00626E;
$turquoise_2: #0090A7;
$turquoise_3: #56BCC7;
$turquoise_4: #B3DDDF;

$green_1: #027264;
$green_2: #00A287;
$green_3: #74BC25;
$green_4: #D3E18E;

$blue_grey_1: #385F71;
$blue_grey_2: #4E7F8E;
$blue_grey_3: #72A4B4;
$blue_grey_4: #BBCECE;

$grey_1: #414B44;
$grey_2: #757A7B;
$grey_3: #B0B1AF;
$grey_4: #E6E2D2;

// Dark Theme vars
$dt_gray_1:   #494A58;
$dt_gray_2:   #353544;
$dt_gray_3:   #60606D;
$dt_gray_4:   #525361;
$dt_gray_5:   #5E5E6B;
$dt_gray_6:   #C8C8C8;
$dt_gray_7:   #3F414E;
$dt_gray_8:   #767684;

// Table
$table-bg:                      transparent;
$table-bg-accent:               $super_light_grey;
$table-bg-hover:                $light_grey_2;
$table-bg-active:               $table-bg-hover;
$body-bg:                       $off_white;
